<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--log4net configure edilmesi için section eklendi. log4net için unit test yazıldı ve yazılan test config bilgilerini buradan okuyor-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net configSource="config\Log4Net.config" />
  
</configuration>